.header-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.nav-button {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.action-button {
    -fx-background-color: #E5E7E6;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.nav-button:hover {
    -fx-background-color: #1976D2;
}

.action-button:hover {
    -fx-background-color: #388E3C;
}

.table-view {
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-background-color: #1446A0; /* Dark blue background */
    -fx-border-color: transparent; /* Remove outside border */
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.table-column {
    -fx-background-color: #E5E7E6;
    -fx-font-size: 14px;
    -fx-text-fill: #333;
}

.table-row-cell {
    -fx-border-color: #E5E7E6;
    -fx-border-width: 1px 0 1px 0;
    -fx-font-size: 12px;
    -fx-text-fill: #333;
}

.root {
    -fx-background-color: #1446A0; /* Dark blue background */
}