/* Stil pentru pagina de start */
.root {
    -fx-background-color: #E5E7E6;
}

/* Stil pentru buton */
.custom-button {
    -fx-background-color: #1446A0; /* Fundal albastru */
    -fx-text-fill: white; /* Text alb */
    -fx-font-size: 10px; /* Dimensiune text */
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 10 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 5, 0, 0, 2);
}

/* Schimbare la hover pentru buton */
.custom-button:hover {
    -fx-background-color: #CC3363; /* Fundal ro»ôu */
    -fx-text-fill: white; /* Text alb */
}

/* Stil pentru textul de bun venit */
.label {
    -fx-font-family: "Dubai";
    -fx-font-weight: bold; /* Text cu bold */
    -fx-font-size: 16px;
    -fx-text-fill: #1446A0; /* Text albastru */
}
